* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

a {
  text-decoration: none;
}

.redes {
  display: none;
}

h1, h2, h3 {
  font-family: shrikhand, sans-serif;
  color: #F63804;
}

h2 {
  font-size: 3rem;
  border-bottom: #F63804 solid 1px;
}

header {
  color: #F63804;
  background-color: #F5CFEB;
}

h1 {
  font-size: 2.3rem;
}

.divMobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.divRedesMobile {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}
.divRedesMobile img {
  width: 31px;
}

.botonMenu {
  color: #BD7E80;
  border-color: #BD7E80;
}

.botonMenuImagen {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../assets/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.botonCerrarMenu {
  border: none;
  background: transparent;
}

.menuDesplegado {
  background-color: #F63804;
}

.menuDesplegado ul {
  list-style: none;
  font-family: work sans, sans-serif;
  text-align: end;
  font-size: 2.5rem;
}

.menuDesplegado li {
  margin: 3rem 0;
  border-bottom: #F5CFEB 1px solid;
}

nav a {
  color: #F5CFEB;
  text-decoration: none;
}

.offcanvas-backdrop.show {
  display: none;
}

footer {
  font-size: 1rem;
  text-align: center;
  color: #F63804;
  letter-spacing: 0.5rem;
}

.divTextoBienvenida {
  background-color: #F5CFEB;
}
.divTextoBienvenida p {
  font-family: work sans, sans-serif;
  color: #BD7E80;
  text-align: center;
}
.divTextoBienvenida p span {
  font-weight: 500;
}

.divMiPortfolio {
  margin: 11px;
}
.divMiPortfolio p {
  font-size: 4rem;
  color: #F63804;
  font-family: shrikhand, sans-serif;
}

.acerca {
  color: #BD7E80;
  padding: 27px 15px;
}
.acerca h2 {
  text-align: end;
}

.acercaDeMi p {
  text-align: center;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  margin: 10px 3px;
}

.divMisProyectos {
  font-family: work sans, sans-serif;
  text-align: center;
}
.divMisProyectos article div {
  background-color: #BD7E80;
  color: #F5CFEB;
}

.acercaDeMi, .divMisProyectos, .skills {
  margin-bottom: 62px;
}

.skills h3 {
  text-align: end;
}

.skillsIconos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillsIconos img {
  width: 70px;
  margin: 25px;
}

.contacto {
  padding: 0 15px;
}
.contacto h3 {
  font-family: work sans, sans-serif;
}

.divContacto div {
  margin: 80px 0;
}
.divContacto div div {
  margin: 40px 0 0 0;
}

.sectionForm {
  font-family: work sans, sans-serif;
  justify-self: center;
  margin-left: 1rem;
}
.sectionForm form label {
  color: #F63804;
  font-weight: 600;
}
.sectionForm form input, .sectionForm form textarea {
  border: #F5CFEB 1px solid;
  border-radius: 4px;
}
.sectionForm form .btnEnviar {
  background-color: #F5CFEB;
  color: #BD7E80;
  font-weight: 600;
  border-radius: 4px;
}

.sectionDatos {
  text-align: end;
  color: #BD7E80;
  align-items: flex-end;
  justify-content: flex-end;
}
.sectionDatos p {
  margin: 26px 0;
  font-size: 1.1rem;
}

form div {
  display: flex;
  flex-direction: column;
}
form .formBoton {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .redes {
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
  }
  .redes img {
    width: 36px;
  }
  .divRedesMobile {
    display: none;
  }
  .divTextoBienvenida {
    padding-top: 183px;
  }
  .mainDiv {
    margin: 0 2.5rem;
  }
  .divMisProyectos {
    display: flex;
    flex-direction: row;
  }
  .skillsIconos {
    flex-direction: row;
  }
  .divContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sectionDatos {
    display: flex;
    flex-direction: column;
    border-left: #BD7E80 2px solid;
    padding-left: 7px;
  }
  .sectionDatos p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }
  .divMobile {
    justify-content: center;
  }
  .redes img {
    width: 36px;
  }
  .divTextoBienvenida {
    padding-top: 190px;
  }
  p {
    font-size: 1.5rem;
  }
  .mainDiv {
    margin: 0 3.5rem;
  }
  .divMiPortfolio p {
    font-size: 6.5rem;
  }
  .acerca br {
    display: none;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 4rem;
  }
  .skillsIconos {
    justify-content: space-around;
  }
  .sectionForm label {
    font-size: 1.5rem;
  }
  .sectionForm input {
    font-size: 1.5rem;
  }
  .sectionDatos p {
    font-size: 1.5rem;
  }
  footer {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .divMiPortfolio {
    margin: 20px;
  }
  .divMiPortfolio p {
    font-size: 8.5rem;
  }
  .mainDiv {
    margin: 0 4.5rem;
  }
  .redes img {
    width: 55px;
  }
  h2 {
    font-size: 6rem;
  }
  h3 {
    font-size: 5rem;
  }
  .sectionForm input {
    font-size: 2.5rem;
  }
  .sectionForm .btnEnviar {
    padding: 12px;
    font-size: 1.5rem;
  }
  .sectionDatos {
    padding-left: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
