* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "shrikhand", sans-serif;
  color: #F63804;
}

h1 {
  font-size: 2.3rem;
  display: inline;
}

h2 {
  font-size: 2rem;
  border-bottom: #F63804 solid 1px;
}

h3 {
  font-size: 2rem;
}

h5 {
  color: #BD7E80;
  font-family: "work-sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.acercaDeMi, .divMisProyectos, .skills {
  margin-bottom: 62px;
}

footer {
  margin-top: 5rem;
  font-size: 1rem;
  text-align: center;
  color: #F63804;
  letter-spacing: 0.5rem;
}

@media (min-width: 750px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 4rem;
  }
}
header {
  color: #F63804;
  width: 100%;
  background-color: #F5CFEB;
  top: 0;
}

.divMobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.divMobile img {
  width: 30%;
}

.botonMenu {
  color: #BD7E80;
  border-color: #BD7E80;
}

.botonMenuImagen {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../assets/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.botonCerrarMenu {
  border: none;
  background: transparent;
}

.menuDesplegado {
  background-color: #F63804;
  width: 30%;
}

.menuDesplegado ul {
  list-style: none;
  font-family: "work-sans", sans-serif, sans-serif;
  text-align: end;
  font-size: 2.5rem;
}

.menuDesplegado li {
  margin: 3rem 0;
  border-bottom: #F5CFEB 1px solid;
}

nav a {
  color: #F5CFEB;
  text-decoration: none;
}

.divTitulo {
  margin-top: 10rem;
}
.divTitulo p {
  font-family: "work-sans", sans-serif;
  color: #BD7E80;
  text-align: center;
}

.tituloPresentacion {
  margin-top: 12rem;
}
.tituloPresentacion p {
  font-size: 4rem;
  color: #F63804;
  font-family: "shrikhand", sans-serif;
  text-align: start;
  margin-left: 1rem;
}

@media (min-width: 750px) {
  .divRedesMobile {
    display: none;
  }
  .divMobile {
    width: 10%;
    align-items: center;
  }
  .tituloPresentacion p {
    font-size: 6rem;
  }
}
@media (min-width: 992px) {
  .divTitulo {
    margin: 8rem 1rem 0;
  }
  .divTitulo .tituloTexto {
    margin: 0 6rem;
  }
  .tituloPresentacion {
    margin-top: 6rem;
  }
  .tituloPresentacion p {
    font-size: 8rem;
  }
}
.acercaDeMi {
  margin: 6rem 1rem 0 1rem;
}
.acercaDeMi h2 {
  text-align: end;
}
.acercaDeMi p {
  color: #BD7E80;
  text-align: justify;
}

.miExperiencia, .skills {
  margin: 3rem 1rem;
}
.miExperiencia h2, .skills h2 {
  text-align: start;
}
.miExperiencia p, .skills p {
  color: #BD7E80;
  text-align: justify;
}

.skillsIconos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.skillsIconos img {
  width: 70px;
  margin: 25px;
}

@media (min-width: 750px) {
  .acercaDeMi {
    margin: 8rem 3rem;
  }
  .miExperiencia, .skills {
    margin: 7rem 3rem;
  }
  .skillsIconos {
    flex-wrap: nowrap;
  }
}
@media (min-width: 992px) {
  .acercaDeMi {
    margin: 8rem 6rem;
  }
  .miExperiencia, .skills {
    margin: 7rem 6rem;
  }
}
.proyectosEnClase {
  display: flex;
  flex-direction: row;
}

.divProyectos {
  width: 20%;
  border: #F63804 solid 1px;
}

.proyectos {
  width: 300px;
  height: 200px;
  background-color: #F5CFEB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyectos:hover h5 {
  display: none;
}

.disneyProyecto:hover::after {
  content: url(../assets/disney.png);
  width: 300px;
  height: 200px;
}

.divMisProyectos {
  font-family: work sans, sans-serif;
  text-align: center;
}

.divMisProyectos article div {
  background-color: #BD7E80;
  color: #F5CFEB;
}

.contacto {
  margin: 2rem 1rem;
}
.contacto h2 {
  font-family: "shrikhand", sans-serif;
  text-align: end;
}

.sectionForm {
  font-family: "work-sans", sans-serif;
  justify-self: center;
  margin: 1rem;
}
.sectionForm label {
  color: #F63804;
  font-weight: 600;
}
.sectionForm input, .sectionForm textarea {
  border: #F5CFEB 1px solid;
  border-radius: 4px;
  color: #BD7E80;
  font-family: "work-sans", sans-serif;
}
.sectionForm .formBoton {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.sectionForm .formBoton .btnEnviar {
  background-color: #F5CFEB;
  color: #BD7E80;
  font-weight: 600;
  border-radius: 4px;
}
.sectionForm .formBoton .btnEnviar:hover {
  color: #F63804;
  background-color: #F5CFEB;
  border: #F5CFEB 3px solid;
}
.sectionForm div {
  display: flex;
  flex-direction: column;
}

.sectionDatos {
  text-align: end;
  color: #BD7E80;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 1rem 1rem;
}
.sectionDatos p {
  margin: 3rem 0;
  font-size: 1.1rem;
}

@media (min-width: 750px) {
  .contacto {
    margin: 3rem 3rem;
  }
  .sectionForm {
    margin: 4rem;
  }
}
@media (min-width: 992px) {
  .formYDatos {
    display: flex;
    flex-direction: row;
    margin: 6rem 0;
  }
  .sectionForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .sectionForm form {
    width: 70%;
  }
  .sectionForm form .formBoton {
    align-items: stretch;
    margin: 0;
  }
  .sectionForm div {
    margin: 3rem 0;
  }
  .sectionDatos {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #BD7E80;
    width: 100%;
    justify-content: flex-end;
  }
  .sectionDatos p {
    margin: 3rem 0 0 0;
  }
}

/*# sourceMappingURL=styles.css.map */
