* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

.redes {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: shrikhand, sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
  color: #F63804;
}

h2 {
  font-size: 4rem;
}

main {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

header {
  color: #F63804;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F5CFEB;
}

.botonMenu {
  color: #BD7E80;
  border-color: #BD7E80;
  display: flex;
  align-items: center;
}

.botonMenuImagen {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../assets/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.botonCerrarMenu {
  border: none;
  background: transparent;
}

.menuDesplegado {
  background-color: #F63804;
}

.menuDesplegado ul {
  list-style: none;
  font-family: work sans, sans-serif;
  text-align: end;
  font-size: 2.5rem;
}

.menuDesplegado li {
  margin: 3rem 0;
  border-bottom: #F5CFEB 1px solid;
}

nav a {
  color: #F5CFEB;
  text-decoration: none;
}

footer {
  text-align: center;
  color: #F63804;
  letter-spacing: 1rem;
}

.containerIndex {
  background: linear-gradient(to bottom, #F5CFEB 0%, #F5CFEB 50%, white 0%, white 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.divMainIndex {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divTextoBienvenida p {
  font-family: work sans, sans-serif;
  color: #BD7E80;
  text-align: center;
}

.divMiPortfolio p {
  color: #F63804;
  font-family: shrikhand, sans-serif;
  font-size: 5rem;
  padding-left: 1rem;
}

.acerca {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #BD7E80;
  margin: 6rem;
}
.acerca h2 {
  border-bottom: #F63804 solid 1px;
  text-align: end;
  font-size: 4rem;
}

.acercaDeMi p {
  text-align: center;
  font-weight: 500;
}

.divMisProyectos {
  display: flex;
  flex-direction: row;
  font-family: work sans, sans-serif;
  text-align: center;
  padding: 4rem;
}
.divMisProyectos article div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills h3 {
  text-align: end;
}

.skillsIconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contacto {
  margin: 2rem;
}
.contacto h3 {
  font-family: work sans, sans-serif;
}

.divContacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sectionForm {
  font-family: work sans, sans-serif;
  justify-self: center;
  margin-left: 1rem;
}
.sectionForm form {
  display: flex;
  flex-direction: column;
}
.sectionForm form label {
  color: #F63804;
  font-weight: 600;
  margin: 1rem 0;
}
.sectionForm form input, .sectionForm form textarea {
  border: #F5CFEB 1px solid;
  border-radius: 4px;
}
.sectionForm form .btnEnviar {
  width: 30%;
  margin-top: 1rem;
  background-color: #F5CFEB;
  color: #BD7E80;
  font-weight: 600;
  border-radius: 4px;
  align-self: end;
}

.sectionDatos {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: #BD7E80;
  border-left: #BD7E80 2px solid;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}

/*# sourceMappingURL=styles.css.map */
