.acercaDeMi{
    margin: 6rem 1rem 0 1rem;
    h2{
        text-align: end;
    }
    p{
        color: $colorterciario;
        text-align: justify;
    }
}
.miExperiencia, .skills{
    margin: 3rem 1rem;
    h2{
        text-align: start;
    }
    p{
        color: $colorterciario;
        text-align: justify;
    }
}

.skillsIconos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img {
        width: 70px;
        margin: 25px;
    }
}
@media (min-width:750px) {
    .acercaDeMi{
        margin: 8rem 3rem;
    }
    .miExperiencia, .skills{
        margin: 7rem 3rem;
    }
    .skillsIconos{
        flex-wrap: nowrap;
    }
}
@media (min-width:992px){
    .acercaDeMi{
        margin: 8rem 6rem ;
    }
    .miExperiencia, .skills{
        margin: 7rem 6rem;
    }
}