.contacto {
    margin: 2rem 1rem;
    h2 {
        font-family: $fuenteprimaria;
        text-align: end;
    }

}
.sectionForm {
    font-family: $fuentesecundaria;
    justify-self: center;
    margin: 1rem;
    label{
        color: $colorsecundario;
        font-weight: 600;
        font-family: $fuentesecundaria;
    }
    input, textarea{
        border: $colorprimario 1px solid;
        border-radius: 4px;
        color: $colorterciario;
        font-family: $fuentesecundaria;
    }
    .formBoton {
        display: flex;
        align-items: center;
        margin: 1rem;
        .btnEnviar{
            background-color: $colorprimario;
            color: $colorterciario;
            font-weight: 600;
            border-radius: 4px;
        }
        .btnEnviar:hover{
            color: $colorsecundario;
            background-color: $colorprimario;
            border: $colorprimario 3px solid;
        }
    }
    div{
        display: flex;
        flex-direction: column;
    }
}

.sectionDatos {
    text-align: end;
    color: $colorterciario;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 1rem 1rem;
    p {
        margin: 3rem 0;
        font-size: 1.1rem;
    }
}
@media (min-width:750px) {
    .contacto{
        margin: 3rem 3rem;
    }
    .sectionForm{
        margin: 4rem;
    }
}
@media (min-width:992px){
    .formYDatos{
        display: flex;
        flex-direction: row;
        margin: 6rem 0;
    }
    .sectionForm{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        form{
            width: 70%;
            .formBoton{
                align-items: stretch;
                margin: 0;
            }
        }
        div{
            margin: 3rem 0;
        }
    }
    .sectionDatos{
        display: flex;
        flex-direction: column;
        border-left: 2px solid #BD7E80;
        width: 100%;
        justify-content: flex-end;
        p{
            margin: 3rem 0 0 0;
        }
    }
}
@media (min-width:1440px){
    .contacto{
        margin:3rem 6rem;
        p{
            font-size: 1.5rem;
        }
    }
    .formYDatos{
        margin: 6rem 0;
    }
    .sectionForm{
        margin: 3rem 0;
        label{
            font-size: 1.5rem;
        }
        input{
            height: 7vh;
        }
    }


}