header {
    color: $colorsecundario;
    width: 100%;
    background-color: $colorprimario;
    top: 0;
}
.divMobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    img{
        width: 30%;
    }
}
.botonMenu {
    color: $colorterciario;
    border-color: $colorterciario;
}  
.botonMenuImagen {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(../assets/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}  
.botonCerrarMenu {
    border: none;
    background: transparent;
}  
.menuDesplegado {
   background-color: $colorsecundario;
   width: 30%;
}
.menuDesplegado ul {
    list-style: none;
    font-family: $fuentesecundaria, sans-serif;
    text-align: end;
    font-size: 2.5rem;
}
  
.menuDesplegado li {
    margin: 3rem 0;
    border-bottom: $colorprimario 1px solid;
}
  
nav a {
    color: $colorprimario;
    text-decoration: none;
}
.divTitulo{
    margin-top: 10rem;
    p {
        font-family: $fuentesecundaria;
        color: $colorterciario;
        text-align: center;
    }
}
.tituloPresentacion {
    margin-top: 12rem;
    p{
        font-size: 4rem;
        color: $colorsecundario;
        font-family: $fuenteprimaria;
        text-align: start;
        margin-left: 1rem;
    }
}
.redesDesktop{
    display: none;
}
@media (min-width:750px) {
    .divMobile{
        align-items: center;
    }
    .tituloPresentacion{
        p{
            font-size: 6rem;
        }
    }
}
@media (min-width:992px){
    .divMobile{
        width: 10%;
    }
    .divRedesMobile{
        display: none;
    }
    .divTitulo{
        margin:8rem 1rem 0;
        .tituloTexto{
            margin: 0 6rem;
        }
    }
    .tituloPresentacion{
        margin-top: 6rem;
        p{
            font-size: 8rem;
        }
    }
    .redesDesktop{
        position: fixed;
        right: 0;
        bottom: 1px;
        display: flex;
        flex-direction: column;
    }
}
@media (min-width:1440px){
    h1{
        font-size: 6rem;
    }
    .divMobile{
        width: 4%;
    }
    .divTitulo{
        margin: 12rem 2rem;
        p{
            font-size: 1.7rem;
        }
        .tituloPresentacion{
            p{
                font-size: 8rem;
            }
        }
    }
}

