$colorprimario:#F5CFEB;
$colorsecundario:#F63804;
$colorterciario:#BD7E80;
$fuenteprimaria:"shrikhand", sans-serif;
$fuentesecundaria:"work-sans", sans-serif;

* {
    margin: 0;
    padding: 0;
  }
  
html {
   font-size: 62,5%;
}
