.acerca{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $color-secundario;
    margin: 6rem;

    h2{
        border-bottom: $color-primario solid 1px;
        text-align: end;
        font-size: 4rem;
    }
}
.acercaDeMi{  
        p{
        text-align: center;
        font-weight: 500;
    }
}
.divMisProyectos{
    display: flex;
    flex-direction: row;
    font-family: work sans, sans-serif;
    text-align: center;
    padding: 4rem;
        article div{
            display: flex;    
            align-items: center;
            justify-content: center;
        }
}
.skills h3{
    text-align: end;
}
.skillsIconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}