.contacto{
    h3{
    font-family: work sans, sans-serif;
}
}
.divContacto{
}
.sectionForm{
    font-family: work sans, sans-serif;
    justify-self:center;
    margin-left: 1rem;
    form{
        label{
            color: $color-primario;
            font-weight: 600;
        }
        input, textarea{
            border:$color-terciario 1px solid;
            border-radius: 4px;
        }
        .btnEnviar{
            background-color: $color-terciario;
            color: $color-secundario;
            font-weight: 600;
            border-radius: 4px;
        }
    }
}
.sectionDatos{
    text-align: end;
    color:$color-secundario;
    border-left:$color-secundario 2px solid;
    align-items: flex-end;
    justify-content: flex-end;
}
