*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
}
a{
    text-decoration: none;
}
.redes{
    display: none;
}
h1,h2,h3{
    font-family: shrikhand, sans-serif;
    color: $color-primario;
}
h2{
    font-size: 3rem;
    border-bottom: $color-primario solid 1px;
}
