header{
    color: $color-primario;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-terciario;
}
.botonMenu{
    color: $color-secundario;
    border-color: $color-secundario;
    display: flex;
    align-items: center;
}
.botonMenuImagen{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(../assets/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.botonCerrarMenu{
    border: none;
    background: transparent;
}
.menuDesplegado{
    background-color: $color-primario;
}
.menuDesplegado ul{
    list-style: none;
    font-family: work sans, sans-serif;
    text-align: end;
    font-size: 2.5rem;
}
.menuDesplegado li{
    margin: 3rem 0;
    border-bottom: $color-terciario 1px solid;
}
nav a{
    color: $color-terciario;
    text-decoration: none;
}
footer{
    text-align: center;
    color: $color-primario;
    letter-spacing: 1rem;
}