header{
    color: $color-primario;
    background-color: $color-terciario;
}
h1{
    font-size: 2.3rem;
}
.divMobile{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.divRedesMobile{
    display: flex;
    flex-direction: row;
    margin: 8px 0;
        img{
            width: 31px;
        }
}
.botonMenu{
    color: $color-secundario;
    border-color: $color-secundario;
}
.botonMenuImagen{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(../assets/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.botonCerrarMenu{
    border: none;
    background: transparent;
}
.menuDesplegado{
    background-color: $color-primario;
}
.menuDesplegado ul{
    list-style: none;
    font-family: work sans, sans-serif;
    text-align: end;
    font-size: 2.5rem;
}
.menuDesplegado li{
    margin: 3rem 0;
    border-bottom: $color-terciario 1px solid;
}
nav {
    a{
        color: $color-terciario;
        text-decoration: none;
    }
}
.offcanvas-backdrop.show{
    display: none;
}
footer{
    font-size: 1rem;
    text-align: center;
    color: $color-primario;
    letter-spacing: 0.5rem;
}