.containerIndex{

} 
.divMainIndex{    
}
.divTextoBienvenida p{
    background-color: $color-terciario;
    font-family: work sans, sans-serif;
    color: $color-secundario;
    text-align: center;
        span{
            font-weight: 500;
        }
}
.divMiPortfolio {
    margin: 11px;
        p{
            font-size: 4rem;
            color:$color-primario;
            font-family: shrikhand, sans-serif;
        }
}
